.App {
    font-family: sans-serif;
    text-align: center;
}

.main {
    padding: 20px;
    width: 700px;
}

.controls {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.m-card {
    display: flex;
    width: 700px;
    height: 315px;
    border-radius: 5px;
    padding: 5px;
    border: solid;
    border-width: 10px;
}

.m-card-image {
    width: 225px;
    background-color: white;
}

.m-card-details {
    width: 70%;
    padding: 5px;
    border-color: black;
}

.m-card-header {
    height: 10%;
    width: 100%;
}

.m-card-header-name {
    float: left;
    padding: 5px;
    font-weight: bold;
}

.m-card-header-cost {
    display: flex;
    float: right;
    padding: 0 10px;
    font-weight: bold;
    font-size: large;
}

.m-card-types {
    height: 8%;
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px 0 0 10px;
}

.m-card-text {
    margin-top: 10px;
    height: 50%;
    background-color: white;
}

.m-card-footer {
    margin: 40px 0 0 50px;
    font-style: oblique;
}

#loading {
    display: flex;
    position: relative;
    align-content: center;
    animation: mymove 4s infinite;
    top: 30vh;
}

#card1 {
    animation-timing-function: linear;
    font-weight: bolder;
    font-size: 30px;
    color: #cc0000;
    padding-right: 30px;
    text-shadow: 3px 3px white;
    border-color: white;
    border-width: 1px;
}

#card2 {
    animation-timing-function: ease;
    padding-right: 10px;
    transform: rotate(30deg);
    border-color: white;
    border-width: 1px;
}

#card3 {
    animation-timing-function: ease-in;
    transform: rotate(20deg);
    border-color: white;
    border-width: 1px;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 600px;
    }
}

.image-rotation {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.theme-toggles {
    float: right;
}

.theme-dark {
    color: white;
    background-color: #212124;
    border-color: white;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}